
#image-container {
    overflow: auto;
    max-width: 100%;
    max-height: calc(100% - 180px);
}

.pixel-row {
    display: flex;
    justify-content: space-around;
}

.pixel-wrapper {
    border: 1px solid black;
    background-color: white;
}

.pixel h4 {
    color: black;
}

.pixel h4.high-contrast {
    color: white;
}
