
#image-container {
    overflow: scroll;
    width: 100%;
    height: calc(100% - 180px);
}

.pixel-row {
    display: flex;
    justify-content: space-around;
}

pixel-wrapper {
    background-color: white;
}

pixel h4 {
    color: black;
}

pixel h4.high-contrast {
    color: white;
}
