
#image-container {
    overflow: scroll;
    width: 100%;
    height: calc(100% - 194px);
    display: flex;
    flex-direction: column;
}

.pixel-row {
    display: flex;
    justify-content: center;
}

pixel-wrapper {
    background-color: white;
}

pixel h4 {
    color: black;
}

pixel h4.high-contrast {
    color: white;
}
